[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GUD"]
	path = GUD
	url = https://github.com/rh8liuqy/bayesian_modal_regression
